[Desktop Entry]
Name=android studio
Type=Application
Exec=/opt/android-studio/bin/studio.sh
Terminal=false
Icon=/opt/android-studio/bin/idea.png
Comment=Integrated Development Environment
NoDisplay=false
Categories=Development;IDE;
Name[en]=android studio
Name[en_US]=android studio
