[Desktop Entry]
Name=pycharm
Type=Application
Exec=/opt/pycharm404/bin/pycharm.sh
Terminal=false
Icon=/opt/pycharm404/bin/pycharm.png
Comment=Integrated Development Environment
NoDisplay=false
Categories=Development;IDE;
Name[en]=pycharm
Name[en_US]=pycharm.desktop
